{% extends "base.html" %}
{% block main %}

<style>
    .job-detail-box {
        margin: 30px;
        width:600px;
        background: white;
        padding: 25px;
        border: 1px solid gray;
        border-radius: 8px;
    }
    .header {
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .header h1 {
        margin: 0;
        font-size: 24px;
        color: #2c3e50;
    }
    .header p {
        margin: 5px 0 0 0 ;
        color: #555;
    }
    .desc {
        margin: 20px 0;
        color: black;
    }
    .details {
        margin-top: 20px;
    }
    .details p {
        margin: 8px 0;
        color: #575757ff;
    }
    .cname {
        font-weight: 700;
        color: #2c7be5;
    }
    .actions {
        margin-top: 25px;
        display: flex;
        gap: 15px;
    }
    .actions a {
        flex: 1;
        text-align: center;
        padding: 12px;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        transition: 0.3s;
    }
    .btn {
        background-color: #1E90FF;
        color: white;
    }
    .btn:hover {
        background-color: #1d7cdaff;
        color: white;
    }
  
</style>

<div class="job-detail-box">
    <div class="header">
        <h1>{{ application.job.job_title }}</h1>
        <p><span class="cname">{{ application.job.company.company_name }}</span> — Posted by <a href="" class="ename"> {{ application.job.employer }}</a></p>
    </div>

    <div class="desc">
        <h3>Description</h3>
        <p>{{ application.job.job_description }}</p>
    </div>

    <div class="details">
        <p><strong>Location:</strong> {{ application.job.location }}</p>
        <p><strong>Salary:</strong> {{ application.job.salary }}</p>
        <p><strong>Job Type:</strong> {{ application.job.job_type }}</p>
        <p><strong>Deadline:</strong> {{ application.job.deadline }}</p>
        <p class="card-text"><strong>Seeker Name:</strong> <a href="">{{application.seeker.name}}</a></p>
        {% if application.resume %}
        
        <p><strong>Resume: </strong> <a href="{{ application.resume.url }}" class="btn btn-success"> Click to view Resume</a></p>
        {% else %}
            <p><strong>Resume: </strong> Not uploaded</p>
        {% endif %}

        <pre><strong>Letter: </strong> {{application.cover_letter }}</pre>
        
        
        
    </div>
    <div class="actions">
        <a href="{% url 'accept_application' application.id%}" class="btn">Accept Application</a>
       <a href="{% url 'reject_application' application.id %}" class="btn">Reject Application</a> 
    </div>
</div>


{% endblock main %}