{% extends "base.html" %}
{% block main %}

<div class="row">
    {% for job in jobs %}
  <div class="col-sm-4" style="padding: 16px;justify-content: space-around;">
      <div class="card" style="margin: 16px;">
      <div class="card-body">
        <h5 class="card-title">{{job.job_title}} at {{job.company.company_name}}</h5>
        <pre class="card-text">{{job.job_description}}</pre>
        <a href="{% url 'job_details' job.id %}" class="btn btn-primary">Details</a>
      </div>
    </div>
</div>
    {% empty %}
    <h2> You dont have any job posted </h2>
    <a href="{% url "post_job" %}" class ="btn"> Post Job</a>
{% endfor %}
</div>
{% endblock main %}                                                             